.github/
test-server/
test/
.npmignore
.sonarcloud.properties
.nycrc
.eslintrc.json
.eslintignore
coverage
*.log
.nyc_output
coverage.lcov
*.log
src/webapp/node_modules
src/webapp/src
src/webapp/.babelrc
src/webapp/package.json
src/webapp/package-lock.json
src/webapp/webpack.config.js
src/webapp/yarn.lock